<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title_text %}{% endblock %}</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
        {% load staticfiles %}
        <div>
        <a href="/">
            <img src="{% static "images/logo.png" %}" height-"200" width="200"/>
        </a>
        </div>
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" />
            </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/results/">Results</a></li>
        <li><a href="/about/">About</a></ul>
    </ul>
        </div>
    </nav>
    <hr>
    </div>
    <body>
            {% block body_text %}{% endblock %}
    </body>
</html>
